<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lh.nailweb.mapper.RoleMapper">
    <insert id="insertRole">
        INSERT INTO sys_role (
          id,
          name,
          remark,
          createTime,
          updateTime,
          delFlag
        )
        VALUES
          (
            #{id},
            #{name},
            #{remark},
            #{createTime},
            #{updateTime},
            #{delFlag}
          )
    </insert>
    <insert id="insertRoleMenuIds">
        INSERT INTO sys_role_menu (role_id, menu_id)
        VALUES
        <foreach collection="menuIds" item="item" separator=",">
            (#{id},#{item})
        </foreach>
    </insert>
    <update id="updateRole">
        UPDATE
          sys_role
        SET
          name = #{name},
          remark = #{remark},
          createTime = #{createTime},
          updateTime = #{updateTime},
          delFlag = #{delFlag}
        WHERE id = #{id}
    </update>
    <delete id="deleteRole">
        UPDATE
          sys_role
        SET
          delFlag = 1
        WHERE id = #{id}
    </delete>
    <delete id="deleteRoleMenuIds">
        DELETE
        FROM
          sys_role_menu
        WHERE role_id = #{id}
    </delete>
    <select id="selectRoleById" resultType="com.lh.nailweb.entity.sys.Role">
        SELECT * FROM sys_role WHERE id = #{id}
    </select>
    <select id="getRoleList" resultType="com.lh.nailweb.entity.sys.Role">
        SELECT * FROM sys_role WHERE delFlag = 0
    </select>
    <select id="getRolePage" resultType="com.lh.nailweb.vo.sys.role.RoleVO">
        SELECT
        *
        FROM
        sys_role
        <where>
            AND delFlag = 0
            <if test="null != name and '' != name">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="null != remark and '' != remark">
                AND remark LIKE CONCAT('%', #{remark}, '%')
            </if>
        </where>
        LIMIT ${current - 1} , #{size}
    </select>
    <select id="getRolePageTotal" resultType="java.lang.Integer">
        SELECT
        COUNT(1)
        FROM
        sys_role
        <where>
            AND delFlag = 0
            <if test="null != name and '' != name">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="null != remark and '' != remark">
                AND remark LIKE CONCAT('%', #{remark}, '%')
            </if>
        </where>
    </select>
    <select id="selectRoleMenuIds" resultType="java.lang.Long">
        SELECT
          menu_id
        FROM
          sys_role_menu
        WHERE role_id = #{id}
    </select>
</mapper>